<header id="masthead" class="site-header" role="banner">
  <div class="site-branding">
    <h1 class="site-title">
      <a href="https://ithacagenerator.org/" rel="home">Ithaca Generator</a>
    </h1>
  </div>
  <nav id="site-navigation" class="main-navigation" role="navigation" [class.active]="showHamburger">
    <a id="burger" (click)="toggleHamburger()">---</a>
    <div class="menu-primary-navigation-container">
      <ul class="menu">
        <li class="basic menu-item">
          <a class="link" [routerLink]="['/welcome']" [routerLinkActive]="'active'">
            Basic Info
          </a>
          <img class="checkmark" src="assets/img/checkmark.png" *ngIf="_memberdata.basicInformationComplete()">
        </li>
        <li class="menu-item">
          <a class="link" [routerLink]="['/membership-policies']" [routerLinkActive]="'active'" [class.disabled]="membershipPoliciesDisabled() ? true : null">
            Policies
          </a>
          <img class="checkmark" src="assets/img/checkmark.png" *ngIf="_memberdata.membershipPoliciesComplete()">
        </li>
        <li class="menu-item">
          <a class="link" [routerLink]="['/waiver']" [routerLinkActive]="'active'" [class.disabled]="liabilityWaiverDisabled() ? true : null">
            Waiver
          </a>
          <img class="checkmark" src="assets/img/checkmark.png" *ngIf="_memberdata.liabilityWaverComplete()">
        </li>
        <li class="menu-item">
            <a class="link" [routerLink]="['/additional-info']" [routerLinkActive]="'active'" [class.disabled]="additionalInfoDisabled() ? true : null">
              Additional Info
            </a>
            <img class="checkmark" src="assets/img/checkmark.png" *ngIf="_memberdata.additionalInfoComplete()">
          </li>        
        <li class="menu-item">
          <a class="link" [routerLink]="['/payment']" [routerLinkActive]="'active'" [class.disabled]="paymentDisabled() ? true : null">
            Payment
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>