<ul class="menu">
  <li class="basic">
    <a class="link" [routerLink]="['/welcome']" [routerLinkActive]="'active'">
      Basic Info
    </a>
    <img class="checkmark" src="assets/img/checkmark.png" *ngIf="_memberdata.basicInformationComplete()">
  </li>
  <li>
    <a  [routerLink]="['/membership-policies']" [routerLinkActive]="'active'">
      Policies
    </a>
  </li>
  <li>
    <a [routerLink]="['/waver']" [routerLinkActive]="'active'">
      Waver
    </a>
  </li>
  <li>
    <a [routerLink]="['/payment']" [routerLinkActive]="'active'">
      Payment
    </a>
  </li>
</ul>