<header class="entry-header">
  <h1 class="entry-title">Email Confirmation</h1>
</header>

<div class="entry-content">

  <h2>Do NOT Leave This Page</h2>
  <p>Follow the steps below, and this page will <b>automatically</b> proceed to the next step.</p>
  <h2>Go Check Your Email</h2>
  <p>You should find an email from membership@ithacagenerator.org shortly. If you don't see it, please check your spam / junk / clutter folder.</p>
  <h2>Click the Verification Link</h2>
  <p>It will open a webpage that says "VALIDATION SUCCESSFUL." Feel free to close that page once it loads.</p>
  <h2>Come Back to This Page</h2>
  <p>After clicking the link you can continue with the rest of the enrollment process.</p>
  <h2>I didn't get an email... now what!? (╯°□°）╯︵ ┻━┻</h2>  
  <ol>
    <li>Double check that an email is not waiting in your spam / junk / clutter folder.</li>
    <li>Go back and check the email address you put in on the <a [routerLink]="['/welcome']">Basic Info</a> page has the right email entered. If you got it wrong, no worries, just refresh the page and start over.</li>
    <li>Still stuck? Contact <a href="mailto:membership@ithacagenerator.org">membership@ithacagenerator.org</a> and ask for help.</li>
  </ol>
</div>