<header class="entry-header">
  <h1 class="entry-title">Email Confirmation</h1>
</header>

<div class="entry-content">

  <h2>Do not leave this page</h2>
  <p>Follow the steps below, and this page will <b>automatically</b> proceed to the next step.</p>
  <h2>Go check your Email</h2>
  <p>You should find an email from membership@ithacagenerator.org shortly. If you don't see it, please check your spam folder.</p>
  <h2>Click the Verification Link</h2>
  <p>It will open a webpage that says "VALIDATION SUCCESSFUL." Feel free to close that page once it loads.</p>
  <h2>Come back to this page</h2>
  <p>After clicking the link you cna continue withthe rest of the enrollment process.</p>

</div>