<header class="entry-header">
  <h1 class="entry-title">Additional Info</h1>
</header>

<p class="motivation">
  Just a couple more questions in case you have special circumstances. 
  We'd also like to take this opportunity to learn a bit more about your interests.
  Please fill out the fields below and click 'Next Step' at the bottom.
</p>

<div class="entry-content">
    <form class="form" name="studentForm" [formGroup]="studentForm">
      <ng-container *ngIf="_memberdata.student">
        <section>          
          <fieldset> 
            <legend>Student Details</legend>
            <mat-form-field class="full-width">        
              <input matInput placeholder="School Name" 
                required
                [(ngModel)]="_memberdata.school"
                [formControl]="schoolFormControl">
              <mat-error *ngIf="schoolFormControl.invalid">{{getRequiredStudentErrorMessage('school')}}</mat-error>        
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Graduation Date"
                [formControl]="graduationFormControl"
                [(ngModel)]="_memberdata.graduation"
                [min]="now()"
                required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="graduationFormControl.invalid">{{getRequiredStudentErrorMessage('graduation')}}</mat-error>        
            </mat-form-field>
            <button
              type="button"
              ngxFilePicker
              (filePick)="_memberdata.studentid = $event">
              Upload Student ID Photo
            </button>            
            <img *ngIf="_memberdata.studentid" [attr.src]="_memberdata.studentid">
          </fieldset>
        </section>
      </ng-container>
      <button mat-raised-button color="primary" 
        class="submit-button"
        [disabled]="handleNextDisabled()"
        (click)="handleNext()">Next Step</button>
    </form>
</div>
