<header class="entry-header">
  <h1 class="entry-title">Thank You</h1>
</header>

<div class="entry-content">
  <p>
    You rock! Thanks for enrolling as a member at Ithaca Generator.
  </p>

  <p>
    Here are some next steps to get you started on the path to getting
    the most out of your membership, and contributing to our awesome community.    
  </p>
  
  <p>
    Please sign up for our "members only" google group to ask questions or get updates. The link is here: 
    <a href="https://groups.google.com/forum/#!forum/ithaca_hackerspace">HERE</a>.
    To test it out, send the group a hello message and tell us a bit about yourself. We're happy to meet you!
  </p>

  <p>
    <span>
      Now that you are a member, you can attend the monthly IG classes in any field you are interested in.
      We have classes in...
    </span>
  </p>

  <ul style="position: relative; top: -10px;">
    <li>Welding</li>
    <li>Woodworking</li>
    <li>Laser Cut Design</li>
    <li>Science Fiction book club </li>
    <li>Electronics Meetups</li>
    <li>Board Game Nights</li>
  </ul>

  <p>
    We have even more classes in the works- A wide range of topics from coding and virtual reality, to sewing and pottery, are available to explore.
    Interested in a topic and don't see it as a class or meeting? Reach out! Chances are there are others interested too.
  </p>

  <p>
    For all upcoming events, and to register for the ones you're interested in, visit the Events Calendar on our website 
    <a href="https://ithacagenerator.org/events/calendar/">HERE</a>
  </p>
  
  <p>
    Questions? Shout them out in response to <a href="mailto:info@ithacagenerator.org">info@ithacagenerator.org</a>, or to the google group.
  </p>

  <p>Finally here are some useful links, also reachable from the website home page:</p>

  <p class="helpful-links">
    <a href="https://ithacagenerator.org/">
      Ithaca Generator Website
    </a>
  </p>
  
  <p class="helpful-links">
    <a href="https://ithacagenerator.org/alternate-membership-terms/membership-policies/">
      Member Policies
    </a>
  </p>

  <p class="helpful-links">
    <a href="https://discuss.ithacagenerator.org/">
      Discussion Forum
    </a>
  </p>

  <p class="helpful-links">
    <a href="https://ithacagenerator.org/slack-invite/">
      Slack
    </a>
  </p>

  <p class="helpful-links">
    <a href="https://wiki.ithacagenerator.org/">
      Wiki
    </a>
  </p>

  <p>
    P.S. You should also receive the contents of this webpage in an email, and you can always get back to it by visiting: 
    <a href="https://ithacagenerator.org/onboard/thanks">HERE</a></p>
</div>
