@import "../../variables.scss";

.motivation {
  margin-left: auto;
  margin-right: auto;
}

b {
  font-size: 20px;
  font-variant: small-caps;
}

@media only screen and (max-width: 34em)  {
  ul {
    left: 30px;
  }
}