<header class="entry-header">
  <h1 class="entry-title">Join Us!</h1>
</header>

<p class="motivation">
  First we need to collect a bit of biographical information.
  Please fill out the fields below and click 'Next Step' at the bottom.
  Been here before? Start by typing in your email.
</p>

<div class="entry-content">
  <form class="form" name="biodataForm" [formGroup]="biodataForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name"
        required
        [(ngModel)]="_memberdata.firstname"
        [formControl]="firstnameFormControl">
      <mat-error *ngIf="firstnameFormControl.invalid">{{getRequiredErrorMessage('firstname')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name"
        required
        [(ngModel)]="_memberdata.lastname"
        [formControl]="lastnameFormControl">
      <mat-error *ngIf="lastnameFormControl.invalid">{{getRequiredErrorMessage('lastname')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" disabled
        [value]="_memberdata.email">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Phone" type="tel"
        [(ngModel)]="_memberdata.phone"
        (focus)="clearDefaultPhone()"
        required
        [formControl]="phoneFormControl">
      <mat-error *ngIf="phoneFormControl.invalid">{{getPhoneErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Gift Code (Optional)"
        [(ngModel)]="_memberdata.giftCode"
        [formControl]="giftCodeFormControl">
    </mat-form-field>
    <!-- <mat-form-field class="full-width">
      <textarea matInput placeholder="Mailing Street Address, City, State, Zipcode" type="text"
        required
        [formControl]="addressFormControl"
        matAutosizeMinRows="2"
        matAutosizeMaxRows="3"></textarea>
      <mat-error *ngIf="addressFormControl.invalid">{{getRequiredErrorMessage('address')}}</mat-error>
      <mat-hint align="start">Note: We are required by law to send Annual General Meeting notice by postcard</mat-hint>
    </mat-form-field> -->
    <mat-checkbox
      class="checkbox-class"
      [formControl]="studentFormControl"
      [(ngModel)]="_memberdata.student"
      [labelPosition]="'after'">
      I am a student
    </mat-checkbox><br/>
    <mat-form-field class="over18">
      <mat-select [(ngModel)]="_memberdata.over18"
        [formControl]="over18FormControl"
        required
        [placeholder]="_util.isBoolean(_memberdata.over18) ? '' : 'Select'">
        <mat-option>Select</mat-option>
        <mat-option [value]="true">I am</mat-option>
        <mat-option [value]="false">I am not</mat-option>
      </mat-select>
    </mat-form-field> 18+ years old<br/>
    <mat-form-field class="scholarship">
      <mat-select [(ngModel)]="_memberdata.requestFinancialAid"
        [formControl]="requestFinancialAidFormControl"
        required
        [placeholder]="_util.isBoolean(_memberdata.requestFinancialAid) ? '' : 'Select'">
        <mat-option>Select</mat-option>
        <mat-option [value]="true">I do</mat-option>
        <mat-option [value]="false">I do not</mat-option>
      </mat-select>
    </mat-form-field> request scholarship<br/>
    <button mat-raised-button color="primary"
      class="submit-button"
      [disabled]="biodataForm.invalid"
      (click)="handleNext()">Next Step</button>
  </form>

</div>