@import "../../variables.scss";

.motivation {
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  margin-top: 1em;
  height: 63px;
  background: yellow;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 390px;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
}

h1 {
  line-height: 0;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  .col {
    width: 30%;
    height: 63px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}

.selected {
  background-color: $checkedColor!important;
  color:white!important;
}

.membership-level-description {
  min-height: 130px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $checkedColor !important;
}

::ng-deep .mat-ripple-element {
  background: $checkedColor !important;
}

::ng-deep .mat-checkbox-layout { 
  white-space: normal !important; 
}

@media only screen and (max-width: 34em)  {
  .choose-membership-heading {
    line-height: 1em;
    text-align: center;
    margin-bottom: 30px;
  }
  .choose-membership .col {
    font-size: 0.9em;
    height: 48px;
  }
}