<header class="entry-header">
  <h1 class="entry-title">Payment Options</h1>
</header>

<div class="entry-content">
  <form class="form" name="existingMemberForm" [formGroup]="existingMemberForm">
    <mat-checkbox       
      class="checkbox-class"
      [formControl]="existingMemberFormControl"
      [(ngModel)]="existingMember"
      [align]="'start'">
      I am an <b>existing active member</b>
    </mat-checkbox><br/><br/>
  </form>

  <ng-container [ngSwitch]="specialCase()">

    <ng-container *ngSwitchCase="'existing-member'">
      <p>
        You should only select this option if you already have an active membership subscription.
        If that accurately describes your circumstance, clicking the button below will complete you registration.
      </p>
      <div class="submit-button" (click)="submitCompleteRegistration()" [class.selected]="submit_clicked">
        Complete Registration
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>

      <h1>Choose a Membership Level</h1>
      <p class="flex-grid-thirds">
        <span class="col" [class.selected]="selectedForm().group === 'basic'" (click)="selectLevel('basic')">Basic</span>
        <span class="col" [class.selected]="selectedForm().group === 'standard'" (click)="selectLevel('standard')">Standard</span>
        <span class="col" [class.selected]="selectedForm().group === 'extra'" (click)="selectLevel('extra')">Extra</span>
      </p>
    
      <p class="motivation membership-level-description" 
        *ngIf="selectedForm().group === 'basic'">
        Beginning at only $20 per month, this is our most affordable option. 
        You’ll have access to the space during our staffed hours (usually 5pm-10pm) 
        and are welcome to hang out in the front room. You may use any of the equipment 
        in the front room, as well as tools in the back room that do not require special training.
      </p>
    
      <p class="motivation membership-level-description" 
        *ngIf="selectedForm().group === 'standard'">
        Starting at $35 per month, this level of membership allows you access to all of our tools. 
        If you only need workshop access during our staffed hours (generally after 5pm on weekdays, 
        or on the weekends) this level is what you want. You are also welcome to socialize or work 
        in the front room during staffed hours.
      </p>
    
      <p class="motivation membership-level-description" 
        *ngIf="selectedForm().group === 'extra'">
        For $75 per month, extra membership provides 24-7 access to the space, and is perfect for members 
        who want the flexibility to come and go during the day or late at night. You will have access to all 
        of the tools in the space and are welcome to use the space any time. Some members choose this level 
        purely out of a desire to give more support to the Makerspace.
      </p>
    
      <ng-container *ngFor="let form of paypal_buttons">
        <form *ngIf="selected_membership_level === form.key"
          id="{{form.key}}" action="https://www.paypal.com/cgi-bin/webscr" method="post"
          target="_top">
          <input name="cmd" type="hidden" value="_s-xclick">
          <input name="hosted_button_id" type="hidden" [value]="form.hosted_button_id">
          <input name="notify_url" type="hidden" [value]="notifyUrl">
          <input name="return" type="hidden" [value]="notifyUrl">
          <div class="submit-button" (click)="submitPaypalForm(form.key)" [class.selected]="submit_clicked">
            Join at {{ form.key.replace('-',' ') | titlecase }} Level<br/>
            {{ form.amount | currency }} / MONTH
          </div>
          <img class="doljplisuonkndkuzivh" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1"
            border="0">
        </form>      
      </ng-container>

    </ng-container>

  </ng-container>
</div>
  