<header class="entry-header">
  <h1 class="entry-title">Join Us!</h1>	
</header>

<div class="motivation">
  First we need to collect a bit of biographical information. 
  Please fill out the fields below and click 'Next Step' at the bottom.
</div>

<div class="entry-content">
  <form class="form" [formGroup]="biodataForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name" 
        required
        [formControl]="firstnameFormControl">
      <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('firstname')}}</mat-error>        
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name" 
        required
        [formControl]="lastnameFormControl">
      <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('lastname')}}</mat-error>                
    </mat-form-field>
    <mat-form-field class="full-width"
      hintLabel="Note: We'll send you an email with a link to click to prove it's you">
      <input matInput placeholder="Email" 
        required
        [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>        
    </mat-form-field>    
    <mat-form-field class="full-width">
      <input matInput placeholder="Phone" type="tel" 
        required
        [formControl]="phoneFormControl">
      <mat-error *ngIf="emailFormControl.invalid">{{getRequiredErrorMessage('phone')}}</mat-error>
    </mat-form-field>        
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Mailing Street Address, City, State, Zipcode" type="text"        
        required
        [formControl]="addressFormControl"
        matAutosizeMinRows="2"
        matAutosizeMaxRows="3"></textarea>
      <mat-error *ngIf="addressFormControl.invalid">{{getRequiredErrorMessage('address')}}</mat-error>
      <mat-hint align="start">Note: We are required by law to send Annual General Meeting notice by postcard</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" 
      class="submit-button"
      [disabled]="biodataForm.status !== 'VALID'"
      (click)="handleNext()">Next Step</button>
  </form>
</div>