<header class="entry-header">
  <h1 class="entry-title">Optional Info</h1>
</header>

<p class="motivation">
  Please consider helping us out by providing answers to any of the following <b>optional</b> questions.
  Information you provide will help us better understand our membership,
  which will in turn give us opportunities to serve you in the best ways possible.
</p>

<div class="entry-content">
  <form class="form">
    <section>
      <fieldset>
        <legend>What is your gender?</legend>
        <div *ngFor="let entry of genderFormCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'gender_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'gender', entry.key, genderFormCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Other Gender Identity"
            name="gender_other"
            [(ngModel)]="_memberdata.gender_other">
        </mat-form-field>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>When were you born?</legend>
        <div *ngFor="let entry of whenBornFormCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'whenborn_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'whenBorn', entry.key, whenBornFormCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>Does anyone in your household own a business?</legend>
        <div *ngFor="let entry of ownBusinessCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'whenborn_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'ownBusiness', entry.key, ownBusinessCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>What is the highest level of school you have completed or the highest degree you have received?</legend>
        <div *ngFor="let entry of educationLevelCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'educationLevel_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'educationLevel', entry.key, educationLevelCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>Are you affiliated with any colleges? (student, alumni, staff or professor?)</legend>
        <div *ngFor="let entry of collegeAffiliationCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'collegeAffiliations_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'collegeAffiliations', entry.key, collegeAffiliationCheckboxes, true)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Other College"
            name="collegeAffiliation_other"
            [(ngModel)]="_memberdata.collegeAffiliation_other">
        </mat-form-field>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>Which of the following categories best describes your employment status?</legend>
        <div *ngFor="let entry of employmentStatusCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'employmentStatus_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'employmentStatus', entry.key, employmentStatusCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>How much total combined money did all members of your household earn last year?</legend>
        <div *ngFor="let entry of householdIncomeCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'householdIncome_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'householdIncome', entry.key, householdIncomeCheckboxes)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>Do you consider yourself a steward for any of the following causes?</legend>
        <div *ngFor="let entry of stewardshipCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'stewardships_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'stewardships', entry.key, stewardshipCheckboxes, true)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder   ="Other"
            name="stewardships_other"
            [(ngModel)]="_memberdata.stewardships_other">
        </mat-form-field>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <section>
      <fieldset>
        <legend>How did you hear about Ithaca Generator?</legend>
        <div *ngFor="let entry of heardAboutUsCheckboxes" class="form-cb">
          <mat-checkbox
            [name]="'heard_about_via_' + entry.key"
            [(ngModel)]="entry.value"
            (change)="_memberdata.changeOptionalResponse($event, 'heardAboutVia', entry.key, heardAboutUsCheckboxes, true)"
            [labelPosition]="'after'">
            {{ entry.label }}
          </mat-checkbox>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder   ="Other"
            name="heard_about_via_other"
            [(ngModel)]="_memberdata.heardAboutVia_other">
        </mat-form-field>
      </fieldset>
    </section>
  </form>

  <form class="form">
    <button mat-raised-button color="primary"
      class="submit-button"
      [disabled]="handleNextDisabled()"
      (click)="handleNext()">Next Step</button>
  </form>

</div>
