<header class="entry-header">
  <h1 class="entry-title">Join Us!</h1>	
</header>

<p class="motivation">
  We are thrilled at your interest in joining! Lets start with an email address.
  Please fill out your email address below and click 'Next Step' at the bottom.
  Been here before? Cool, you'll be able to resume where you left off.
</p>

<div class="entry-content">
  <form class="form" name="biodataForm" [formGroup]="biodataForm">
    <mat-form-field class="full-width"
      hintLabel="Note: This will serve as your identity">
      <input matInput placeholder="Email" 
        required
        [(ngModel)]="_memberdata.email"
        (keyup)="checkForRegistrationInProgress($event)"
        (change)="checkForRegistrationInProgress($event)"
        [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>        
    </mat-form-field>
    <button mat-raised-button color="primary" 
      class="submit-button"
      [disabled]="biodataForm.invalid"
      (click)="handleNext()">Next Step</button>
  </form>

</div>