/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Outage';
  src: url('/assets/fonts/Outage Cut.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Outage Cut.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Outage Cut.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Outage Cut.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Outage Cut.svg#6ee4e385367c3ede1cefb1785f44ac21') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

body {
  margin: 0;
  padding: 0;

  color: #222;
  font-size: 13px;  
  letter-spacing: 2px;

  font-family: 'Fira Mono', "Lucida Console", Courier, monospace;  
}

#masthead {
  position: relative;
  background: #222;
  text-transform: uppercase;
}

#masthead .site-branding, #homehead .site-branding {
  position: relative;
  left: 50px;
  width: 120px;
  height: 120px;
}

.site-branding h1.site-title {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.site-branding h1.site-title a {
  display: block;
  background: url(assets/img/headerlogowhite.png) no-repeat 50% 50%;
  text-indent: -999em;
  text-decoration: none;
  background-size: 110px 110px;
  height: 120px;
  width: 120px;
}

h1.entry-title {
  background: #ffee00;
  text-align: center;
  padding: 50px 50px 40px;
  line-height: 1;
  font-size: 56px;
  margin: 0;
  font-family: 'Outage';
  margin-bottom: 50px;
  text-transform: capitalize !important;
  letter-spacing: 0px !important;
}